body {
    height: 100vh;
    width: 100vw;
}

.div {
    height: 91vh;
    width: 100%;

    background-color: rgb(168, 168, 166);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div1 {
    height: auto;
    width: 40%;
    border-radius: 20px;
    background-color: rgb(224, 230, 225);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

h1,
h2 {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: transform 0.3s ease;
    text-align: center;

}

body {
    background-color: rgb(173, 171, 173);
}

.h1e:hover {

    transform: scale(1.2);
}