.d1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
}



.d2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.userHome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}